body {
    margin: 0px;
    box-sizing: border-box;
    display: flex;
}
a{
    color: white;
}
.image-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    
}
.izquierda{
    background-color: rgb(4, 48, 143);
    color:white;
    width:30%;
    padding: 30px;
}
.fondo{
    text-align: center;
}
.nombre{
   text-align: center;
   border-bottom: 2px white solid;
}
.izquierda h3{
    width: 100%;
    height: fit-content;
    padding: 8px;
    background-color: rgb(15, 15, 141);
}
.izquierda p{
    width: 100%;
    height: fit-content;
    text-align: justify;
    
}

.derecha{
    width:70%;
    padding: 30px;
}
.material-icons{
    border-radius: 100%;
    position: fixed;
    bottom: 3%;
    right: 3%;
    cursor: pointer;
    color: black;
}
.material-icons:hover{
    color: blue;
    background-color: rgb(10, 10, 10);
}
.Informacion h2{
    width: 100%;
    height: fit-content;
    padding: 8px;
    color: black;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}
.formacion{
    color: black;
    display: flex;
}
.fecha{
    width: 30%;
    color: black;
    padding: 20px 0px 20px 0px;
}
.trabajo{
    height: fit-content;
    text-align: justify;
    width: 70%;
    padding: 0px 30px 0px 0px;
    color: black;
}
.meet{
    color: gray;
}

@media only screen and (max-width: 425px) {
    body{
        max-width: 425px;
        display: inline;
    }
    .izquierda{
        width:100%;
    }
    .derecha{
        width: 100%;
    }
}
@media only screen and (max-width: 375px) {
    body{
        max-width: 375px;
        display: inline;
    }
    .izquierda{
        width:100%;
    }
    .derecha{
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {
    body{
        max-width: 320px;
        display: inline;
    }
    .izquierda{
        width:100%;
    }
    .derecha{
        width: 100%;
    }
}